.u-patient-info{
  &__content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    padding: 5px 15px 10px;
    font-size: 14px;
  }
  &__item {
    display: flex;
    margin-right: 40px;
    p {
      margin: 0;
    }
  }
}
