.ui-diagnose {
  &__delbtn {
    font-size: 12px;
    margin-right: 10px;
    color: #007ADA;
    cursor: pointer;
  }
  &__add-diagnose {
    font-size: 20px;
    .form-item, .flex {
      position: relative;
      .ant-select {
        position: absolute;
        top: 0;
        left: 75px;
      }
      .calendar {
        width: 376px;
        position: absolute;
        left: 75px;
        top: 0;
        .ant-select {
          position: relative;
          top: 0;
          left: 0px;
        }
      }
    }
  }
  &__modifywrap {
    position: relative;
    font-size: 14px;
    width: 450px;
    margin: 0 auto;
    .ant-form {
      .ant-form-item-label {
        width: 70px;
      }
      .ant-select-selection-placeholder {
        font-size: 14px;
        color: #999999;
      }
      .common__btn {
        width: 350px;
        margin-left: 65px;
        margin-top: 30px;
      }
    }
  }
  &__diagnose-list {
    .item {
      margin-bottom: 3px;
      font-size: 14px;
      line-height: 22px;
      color: #000;
      padding: 0 5px;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      // @include flex(flex-start, flex-start);
      &:hover {
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        .btn-wrap {
          visibility: initial;
        }
      }
    }
    .item-left {
      color: #777;
      font-size: 14px;
    }
    .item-right {
      .sick {
        color: rgb(240, 65, 52);
      }
    }
    .info {
      span {
        margin-right: 5px;
        font-size: 12px;
        color: #666;
        line-height: 20px;
      }
    }
    .btn-wrap {
      visibility: hidden;
      // visibility: initial;
      height: 12px;
      line-height: 12px;
      margin-top: 1px;
      margin-bottom: 6px;
      display: flex;
      span {
        font-size: 12px;
        margin-right: 5px;
        color: #007ADA;
        cursor: pointer;
      }
    }
  }
}
